# Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: backend-ns
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      annotations:
        config.linkerd.io/proxy-cpu-limit: "100m"
        config.linkerd.io/proxy-cpu-request: "50m"
        config.linkerd.io/proxy-memory-limit: "128Mi"
        config.linkerd.io/proxy-memory-request: "64Mi"
      labels:
        app: backend
    spec:
      initContainers:
      - name: wait-for-db
        image: busybox:1.36
        command: ['sh', '-c', 'until nc -z -w 2 mongodb-0.mongo-svc.db-ns 27017; do echo "Waiting for MongoDB..."; sleep 2; done;']
        resources:
          limits:
            cpu: "50m"
            memory: "32Mi"
          requests:
            cpu: "25m"
            memory: "16Mi"
      containers:
      - name: backend
        image: 192.168.0.183/backend/backend:1.2
        ports:
        - containerPort: 8000
        env:
        - name: PORT
          value: "8000"
        - name: GUESTBOOK_DB_ADDR
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: GUESTBOOK_DB_ADDR
        - name: JWT_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_SECRET_KEY
        resources:
          requests:
            cpu: 100m
            memory: "100Mi"
          limits:
            cpu: 200m
            memory: "200Mi"
---
# HPA
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: backend-hpa
  namespace: backend-ns
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: backend
  minReplicas: 3
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50